.conainer-videos{
    width: 100%;
    margin: 0 auto;

}
.title-vi{
    padding: 20px;
    font-size: 1.2rem;
    color: gray;
    font-weight: 500;
    color: gray;
}
.videos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
}
.container-video{
    display: flex;
    flex-direction: column;
   
}
.video{
    width: 100%;
    padding: 0 20px;
   
}

.lugar{
  padding-left: 20px;
  color: var(--color-textIntrum);
  font-size: 1rem;
  font-weight: 500;
}