.header-container {
    height: 12vmin;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;


    z-index: 5;

    overflow: hidden;


}

.sub-container-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 75%;
    margin: auto;


}

.container-logo {
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* -webkit-text-stroke: 1px rgb(255, 255, 255);*/
    color: rgb(243, 70, 70);
    font-size: 3.5vmin;
    animation: animText 4s infinite;
    font-family: monospace;
}

.nav-general {
    display: flex;
    justify-content: flex-end;
    width: 75%;

}

.nav-container {
    display: none;
    
}


.img-icon {
    width: 8vmin;
    fill: rgb(75, 74, 74);
    cursor: pointer;
    animation: animIcons 4s infinite;
}

.nav-item {
    text-decoration: none;
    color: rgb(75, 74, 74);
    animation: animText 4s infinite;
}



.icon-menu {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    width: 30%;

}


.scroll-bg {
    background: rgb(33, 182, 252);
   

    box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.425);
}

@media(max-width: 600px) {
    .sub-container-header {

        width: 100%;

    }
}

@media(min-width:1050px) {
    .nav-container {
       
        display: block;
        width: 95%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 25px;

        text-decoration: none;

        font-size: 1.2vmax;
        animation: all 2s linear;


    }

    .img-icon {
        width: 3vmin;
        cursor: pointer;

    }

    .icon-max {
        width: 4vmin;
    }

    .menu-icon {
        display: none;
    }

    .icon-menu {
        width: 10%;
    }
}

@keyframes animIcons {
    0% {
        fill: rgb(235, 26, 224);
    }

    50% {
        fill: rgb(94, 31, 240);
    }

    100% {
        fill: rgb(34, 243, 69);
    }


}

@keyframes animText {
    0% {
        color: rgb(34, 243, 69);
    }

    50% {
        color: rgb(94, 31, 240);
    }

    100% {
        color: rgb(243, 16, 54);
    }


}